body {
  background: radial-gradient(
    circle at 12.3% 19.3%,
    rgb(85, 88, 218) 0%,
    rgb(95, 209, 249) 100.2%
  );
}
h1,
h2,
h3 {
  text-align: center;
  padding: 20px 0px;
  text-transform: capitalize;
}
p {
  font-size: 70px;
  text-align: center;
}
form {
  display: block;
  text-align: center;
  padding-top: 60px;
}
#displayTemp {
  display: block;
  text-align: center;
  font-size: 70px;
}

.units {
  display: block;
  text-align: center;
  position: relative;
  font-size: 14px;
  top: -80px;
  left: 60px;
  font-weight: 700;
}
.col {
  background: #1f496f;
  border-radius: 13px;
  padding: 15px;
  text-align: center;
  color: cornflowerblue;
}
.d-flex {
  flex-direction: column;
}
.tempHigh {
  font-weight: bolder;
  font-size: larger;
}
.tempLow {
  font-weight: lighter;
  font-size: larger;
}
#feels {
  display: block;
  text-align: center;
  text-transform: capitalize;
  position: relative;
  font-size: 14px;
  top: -40px;
  left: 85px;
  font-weight: 700;
}
